checks:
	- Stylist\Checks\Arrays\Syntax\ArrayDestructuringSyntaxCheck::short()
	- Stylist\Checks\Arrays\Syntax\ShortArraySyntaxCheck

	- Stylist\Checks\Files\Formatting\EndOfFileNewlineCheck
	- Stylist\Checks\Files\Whitespace\IndentationCheck::tabs()
	- Stylist\Checks\Files\Whitespace\NoTrailingWhitespaceCheck

	- Stylist\Checks\PHP\Formatting\KeywordsLowerCaseCheck
	- Stylist\Checks\PHP\Formatting\TrueFalseNullCaseCheck::lower()
